// color
$primaryColor: #00b2b2;
$secondaryColor: #ffffff;
$thirdColor: #d9d9d9;
$textColor: #2b829e;
$buttonColor: #5260a1;
$errorMessage: #ce4646;
$successMessage: #4caf50;
$warningMessage: #ff9800;
$profilSettings: #fef9f7;

// fonth
