@use "_variables.scss" as *;

.project_name {
  display: flex;
  align-items: center;
  justify-content: space-around;

  input {
    margin: 2rem 0;
    padding: 0.5rem;
    border: 1px solid $buttonColor;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: $thirdColor;
    background-color: $secondaryColor;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &:focus {
      outline: none;
      border: $primaryColor;
      box-shadow: 0 0 0 0.2rem rgba($primaryColor, 0.25);
    }
  }
}

.calendar {
  .calendar_box {
    margin: auto;
    width: 95%;
  }
}
