#root {
  background: url("./assets/background.jpg") no-repeat center center fixed;
  min-height: 100svh;
  color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
